.company-navbar {
    display: flex;
    align-items: center;
    border: 2px solid #009fe3;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background: #fff;
    gap: 2rem;

    .navbar-logo {
      height: 5rem;
      margin-left: 3rem;
      margin-right: 4rem;
    }

    .company-navbar-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 10rem;
      gap: 5rem;

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
          color: #009fe3;
          text-decoration: underline;
        }
      }
    }
  }

  @media (min-width: 1300px) {
  .company-navbar {
    gap: 0.5rem;

    .company-navbar-links{
      margin-left: 5rem;
      gap: 3rem;
    }
  }
}


@media (min-width: 1024px) {
  .company-navbar {
    gap: 0.5rem;

    .company-navbar-links{
      margin-left: 5rem;
      gap: 2rem;
    }
  }
}

@media (max-width: 700px) {
  .company-navbar {
    gap: 0.5rem;

    .company-navbar-links{
      margin-left: 0;
      gap: 2rem;


      div {
        font-size: 15px;

      }
    }
  }
}